<html>

    <head>
        <title>Example App</title>

        <!-- import pyscript dependencies -->
        <link rel="stylesheet" href="https://pyscript.net/releases/2022.12.1/pyscript.css" />
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.3/core.css">
        <script type="module" src="https://pyscript.net/releases/2024.1.3/core.js"></script>


        <style>
            table, td, tr
            {
                border: thin black solid;
                width:400px;
            }
            

        </style>

    </head>


    <body>

        <!-- create a UI for user to send data -->
        <label for="example_textbox">
            Send some data to the server:
            <input name="example_textbox" id="example_textbox"/>
            <button id="send_btn">SEND</button>
        </label>

        <!-- create a container for client to display server responses -->
        <ul id="responses">

        </ul>

        <!-- load client side scripts -->
        <py-script src="static/example_client.py"></py-script>

    </body>


</html>