<html>

    <head>
        <title>Library App</title>

        <!-- import pyscript dependencies -->
        <link rel="stylesheet" href="https://pyscript.net/releases/2022.12.1/pyscript.css" />
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.3/core.css">
        <script type="module" src="https://pyscript.net/releases/2024.1.3/core.js"></script>
        <style>

            table, td, tr
            {
                border: thin black solid;
                width: 900px;
                text-align: center;
            }

            .hide_section
            {
              display:none;
            }

            .temporary_error
            {
                animation:5s linear 2s infinite alternate;
            }

        </style>

    </head>


    <body>
        <button  id="get_all_books_menu_btn">Get All Books</button>
        <button  id="search_books_menu_btn">Search For A Book</button>
        <button  id="loan_book_menu_btn">Loan A Book</button>
        <button  id="add_new_book_menu_btn">Add A New Book</button>
        <button  id="delete_book_menu_btn">Delete Books</button>



        <div style="color:red; height:50px;"
        id="error_box" >
    
        </div>
      


        <!-- create containers for client to display server responses -->
        <section class="hide_section" id="get_all_books_section">
            <h1>Viewing All Books Data</h1>
            
        </section>

        <section  class="hide_section" id="search_books_section">
            <h1>Search For A Book</h1>
            <label for="search_book_input">
                <input id="search_book_input" name="search_book_input"/>
            </label>
            <button id="perform_search_btn">GO!</button>
            
        </section>

        <section  class="hide_section" id="loan_book_section"></section>
        <section  class="hide_section" id="add_new_book_section">
            <form>
                {% set headings = "Author	Available Copies	Category	Id	Isbn	Publish Year	Publisher	Title	Total Copies".split("\t") %}
                <table>
                {% for heading in headings %}
                    {% set heading_id = heading.lower().replace(" ", "_") %}
                    <tr>
                        <td>
                            <label for="{{heading_id}}">{{heading}}:</label>
                        </td>
                        <td>
                            <input name="{{heading_id}}" id="{{heading_id}}_input"/><br>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button id="add_book_btn">SAVE</button>
            </form>

        </section>
        
        <section  class="hide_section" id="delete_book_section"></section>

        <table id="all_book_table"></table>

        <!-- load client side scripts -->
        <py-script src="static/client.py"></py-script>

    </body>


</html>